<app-carousel></app-carousel>

<div class="container">
  <app-about-us></app-about-us>

  <div class="row mt-lg-3 mt-xl-5">

    <div class="col-lg-3 col-md-6 order-lg-first order-md-1 mt-lg-3">
      <!--игра дня-->
      <div class="text-center text-capitalize my-3">
        <h5 class="fw-bold">Game of the day</h5>
      </div>
      <app-game-of-the-day></app-game-of-the-day>
    </div>

    <div class="col-lg-9 order-lg-0 order-md-3 mt-lg-3 mt-md-4 mt-3">
      <!--акции скидки-->
      <div class="text-center text-capitalize my-sm-3 position-relative mb-5 mt-3">
        <h5 class="fw-bold">discounts and promotions</h5>
        <a href="#" class="btn__more btn__more_long text-lowercase position-absolute">
          buy...
        </a>
      </div>
      <app-sales></app-sales>
    </div>

    <div class="col-lg-9 order-lg-1 order-md-4 mt-lg-5 mt-md-4 mt-3">
      <!--новое на сайте-->
      <div class="text-center text-capitalize my-3 position-relative">
        <h5 class="fw-bold">New items</h5>
        <a href="#" class="btn__more text-lowercase position-absolute">
          look...
        </a>
      </div>
      <app-new></app-new>
    </div>

    <div class="col-lg-3 col-md-6 order-lg-2 order-md-2 mt-lg-5 mt-3 mt-md-0">
      <!--новости-->
      <div class="text-center text-capitalize my-3 position-relative">
        <h5 class="fw-bold">News</h5>
        <a href="#" class="btn__more text-lowercase position-absolute">
          read...
        </a>
      </div>
      <app-news></app-news>
    </div>

    <div class="col-lg-12 order-lg-3 order-md-5 mt-lg-5 mt-md-4 mt-3">
      <!--популярное-->
      <div class="text-center text-capitalize my-3 position-relative">
        <h5 class="fw-bold">Popular</h5>
        <a href="#" class="btn__more text-lowercase position-absolute">
          more...
        </a>
      </div>
      <app-popular></app-popular>
    </div>

    <div class="col-lg-12 order-lg-last order-md-last mt-lg-5 mt-md-4 mt-3" >
      <!--бренды-->
      <!--<div class="text-center text-capitalize my-3 position-relative">
        <h5 class="fw-bold">Brands</h5>
      </div>-->
      <app-brands></app-brands>
    </div>

  </div>
</div>
