<div class="card-group justify-content-center">
  <div class="card new">
    <a href="#" class="text-decoration-none" style="color: #333333">
      <div class="img--container col-4 col-md-12">
        <img src="./assets/img/new%20items/dajs-taun-00-1024x1024-wm.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card-body col-8 col-md-12" >
        <div class="card-subtitle text-body-secondary date">since 14.02.2024</div>
        <h5 class="card-title">Dice Town</h5>
        <p class="card-text"><small class="text-body-secondary fw-lighter text-uppercase">Is there still gunpowder in
          the flasks?</small></p>

        <span class="original--price">
          <strong><span>$ 15 </span><sup>99</sup> </strong>
        </span>

      </div>
    </a>
  </div>

  <div class="card new">
    <a href="#" class="text-decoration-none" style="color: #333333">
      <div class="img--container col-4 col-md-12">
        <img src="./assets/img/new%20items/Exploding-Kittens00-1024x1024-wm.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card-body col-8 col-md-12">
        <div class="card-subtitle text-body-secondary date">since 10.02.2024</div>
        <h5 class="card-title">Exploding kittens</h5>
        <p class="card-text"><small class="text-body-secondary fw-lighter text-uppercase">Kittens never look at
          explosions</small>
        </p>

        <span class="original--price">
          <strong><span>$ 15 </span><sup>99</sup> </strong>
        </span>

      </div>
    </a>
  </div>

  <div class="card new">
    <a href="#" class="text-decoration-none" style="color: #333333">
      <div class="img--container col-4 col-md-12">
        <img src="./assets/img/new%20items/Kovarniy_Lis-1024x1024-wm.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card-body col-8 col-md-12">
        <div class="card-subtitle text-body-secondary date">since 05.02.2024</div>
        <h5 class="card-title">Tricky Fox</h5>
        <p class="card-text"><small class="text-body-secondary fw-lighter text-uppercase">Oh, that red
          scoundrel!</small></p>

        <span class="original--price">
          <strong><span>$ 15 </span><sup>99</sup> </strong>
        </span>

      </div>
    </a>
  </div>

</div>
