<div class="container-fluid bg--color--light top--border categories">
  <div class="container">
    <div class="btn-group">
      <button class="btn btn-sm text-uppercase" type="button" data-bs-toggle="dropdown"
              id="dropdownMenuButton"
              aria-expanded="false">
        New & Featured
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-caret-down-fill dropdown--icon"
             viewBox="0 0 16 16">
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">New Products</a></li>
        <li><a class="dropdown-item" href="#">Gift Cards</a></li>
        <li><a class="dropdown-item" href="#">Clearance</a></li>
      </ul>
    </div>

    <div class="btn-group ">
      <button class="btn btn-sm text-uppercase" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
        Game Promos
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-caret-down-fill dropdown--icon"
             viewBox="0 0 16 16">
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">BGU Store promos</a></li>
        <li><a class="dropdown-item" href="#">Exclusives</a></li>
      </ul>
    </div>

    <div class="btn-group position-static">
      <button class="btn btn-sm text-uppercase" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
        Game Accessories
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-caret-down-fill dropdown--icon"
             viewBox="0 0 16 16">
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </button>

      <ul class="dropdown-menu w-100">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <span class="dropdown-header fw-bold">Organization</span>
              <a class="dropdown-item" href="#">Bowls & Trays</a>
              <a class="dropdown-item" href="#">Containers</a>
              <a class="dropdown-item" href="#">Drawstring Bags</a>
              <a class="dropdown-item" href="#">Playmats</a>
              <a class="dropdown-item" href="#">Stands</a>
            </div>

            <div class="col-3">
              <span class="dropdown-header fw-bold">Protection</span>
              <a class="dropdown-item" href="#">Totes & Cases</a>
              <a class="dropdown-item" href="#">Deck Boxes</a>
              <a class="dropdown-item" href="#">Card Sleeves</a>
            </div>

            <div class="col-3">
              <span class="dropdown-header fw-bold">Play Accessories</span>
              <a class="dropdown-item" href="#">Game Parts</a>
              <a class="dropdown-item" href="#">Poker Chips</a>
              <a class="dropdown-item" href="#">Dice</a>
              <a class="dropdown-item" href="#">Playing Cards</a>
              <a class="dropdown-item" href="#">Role Playing Accessories</a>
            </div>
          </div>
        </div>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn btn-sm text-uppercase" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
        Games
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-caret-down-fill dropdown--icon"
             viewBox="0 0 16 16">
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Strategy Games</a></li>
        <li><a class="dropdown-item" href="#">Card Games</a></li>
        <li><a class="dropdown-item" href="#">Roll & Write Games</a></li>
        <li><a class="dropdown-item" href="#">Party Games</a></li>
        <li><a class="dropdown-item" href="#">Puzzle Games</a></li>
        <li><a class="dropdown-item" href="#">Abstract Games</a></li>
      </ul>
    </div>

    <div class="btn-group ">
      <button class="btn btn-sm text-uppercase" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
        For The Home
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-caret-down-fill dropdown--icon"
             viewBox="0 0 16 16">
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Game Art</a></li>
        <li><a class="dropdown-item" href="#">Books</a></li>
        <li><a class="dropdown-item" href="#">Puzzles</a></li>
        <li><a class="dropdown-item" href="#">Home Goods</a></li>
      </ul>
    </div>

  </div>
</div>
