<footer class="bg--color--light text-dark pt-5 pb-4 mt-5">
  <div class="container text-center text-md-start">
    <div class="row text-center text-md-start">

      <div class="col-md-5 col-lg-5 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-white-50">Shipping and payment</h5>
        <hr class="mb-4">
        <p>
          <a href="#" class="text-dark text-decoration-none">Payment methods</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none">Delivery methods</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none">Store addresses</a>
        </p>
      </div>

      <div class="col-md-5 col-lg-5 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-white-50">For Buyers</h5>
        <hr class="mb-4">
        <p>
          <a href="#" class="text-dark text-decoration-none text-capitalize">Choose a game</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none text-capitalize">bonus program</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none text-capitalize">information about order</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none text-capitalize">Purchase returns</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none text-capitalize">Help with rules</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none text-capitalize">Legal entities</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none text-capitalize">Archived games</a>
        </p>
      </div>

      <div class="col-md-5 col-lg-5 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-white-50">Lets us help</h5>
        <hr class="mb-4">
        <p>
          <a href="#" class="text-dark text-decoration-none">Your Account</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none">Your Orders</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none">About Store</a>
        </p>
        <p>
          <a href="#" class="text-dark text-decoration-none">Help</a>
        </p>
      </div>

      <div class="col-md-5 col-lg-5 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-white-50">Contact</h5>
        <hr class="mb-4">
        <p>
          <li class="bi bi-house d-inline me-3"></li>
          123 Main Street, New York
        </p>

        <p>
          <li class="bi bi-envelope d-inline me-3"></li>
          inikita.dubrovskii&#64;gmail.com
        </p>

        <p>
          <li class="bi bi-telephone d-inline me-3"></li>
          +123456789
        </p>

      </div>


      <hr class="mb-4">

      <div class="row d-flex justify-content-center">
        <div class="text-center">
          <p>
            Copyright 2024 All Rights Reserved By :
            <a href="https://www.linkedin.com/in/nikita-dubrovsky-531814219/" class="text-decoration-none"
               target="_blank">
              <strong class="text-white">Nikita Dubrovsky</strong>
            </a>
          </p>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="text-center">
          <ul class="list-unstyled list-inline fs-4 mb-0">
            <li class="list-inline-item mx-3">
              <a href="https://www.instagram.com/nekit.d.26/" class="text-dark" target="_blank">
                <i class="bi bi-instagram"></i>
              </a>
            </li>

            <li class="list-inline-item mx-3">
              <a href="https://github.com/NikitaDubrovskii" class="text-dark" target="_blank">
                <i class="bi bi-github"></i>
              </a>
            </li>

            <li class="list-inline-item mx-3">
              <a href="https://www.linkedin.com/in/nikita-dubrovsky-531814219/" class="text-dark" target="_blank">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>

            <li class="list-inline-item mx-3">
              <a href="https://www.facebook.com/nikita.dubrovsky.7/" class="text-dark" target="_blank">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
