<div class="card game--of--the--day" #gameOfTheDay>
  <a href="#" class="text-decoration-none" style="color: #333333">
    <div class="img--container col-4 col-md-12">
      <img src="./assets/img/game%20of%20the%20day/Inside_00-1024x1024-wm.jpg" class="card-img-top" alt="...">
    </div>

    <div class="card-body col-8 col-md-12">
      <h5 class="card-title">Inside</h5>
      <p class="card-text"><small class="text-body-secondary fw-lighter text-uppercase">WHAT'S IN THE BOX?</small></p>
      <div>
        <span class="original--price">
          <strong><span class="text-decoration-line-through">$ 15 </span><sup
            class="text-decoration-line-through">99</sup> </strong>
        </span>

        <span class="discounted--price">
          <strong> <span> $ 10 </span><sup>99</sup></strong>
        </span>

        <span class="discount">Save 40%</span>
      </div>

    </div>
  </a>
</div>
