<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-7 order-md-1 order-1 p-0">
          <img src="./assets/img/carousel/image6.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="col-md-5 img--description order-md-2 order-2 text-center p-0">
          <div class="carousel--caption--container">
            <h5 class="title py-3">First slide label</h5>
            <p>Some representative placeholder content for the first slide...</p>
            <a class="btn" href="#" role="button">Link 1</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
        <div class="col-md-5 img--description order-md-1 order-2 text-center p-0">
          <div class="carousel--caption--container">
            <h5 class="title py-3">Second slide label</h5>
            <p></p>
            <a class="btn" href="#" role="button">Link 2</a>
          </div>
        </div>

        <div class="col-md-7 order-md-2 order-1 p-0">
          <img src="./assets/img/carousel/image5.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>

  </div>

  <div class="control--buttons">
    <button class="control--prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="prev"><</span>
    </button>

    <button class="control--next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="next">></span>
    </button>
  </div>

</div>
