<nav class="navbar bg-body-tertiary bg-color-light bottom-border">
  <div class="container-fluid news-content">
    <div class="news-container">
      <p class="news-text">123 Main Street, New York, NY 10001 | Open: 9:00 AM - 8:00 PM, Monday to Saturday</p>

      <div class="dropdown news-dropdown">
        <button class="btn btn-secondary dropdown-toggle news-dropdown-text" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          United States (USD $)
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Italy (EUR €)</a></li>
          <li><a class="dropdown-item" href="#">Poland (PLN zł)</a></li>
          <li><a class="dropdown-item" href="#">United Kingdom (GBP £)</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary bg-color-light p-0 bottom-border">
  <div class="container-fluid navbar-content">
    <div class="navbar-container">
      <div class="navbar-left">
        <a class="navbar-brand font3" href="#">
          <img src="/favicon.ico" alt="Bootstrap" width="30" height="24">
          Board Games Universe
        </a>

        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>-->

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success btn-search" type="submit">Search</button>
        </form>
      </div>

      <div class="collapse navbar-collapse navbar-links" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar bg-color-light bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sticky top</a>
  </div>
</nav>
