<div class="container-fluid bg--color--light bottom-border">
  <div class="row align-items-center mx-0">
    <div class="col-md-3"></div>

    <div class="col-md-6 col-sm-12 text-center">
      <p class="m-0 font-size marquee">
        <span *ngIf="showAddress1">{{ address1 }}</span>
        <span *ngIf="!showAddress1">{{ address2 }}</span>
      </p>
    </div>

    <div class="col-md-3 col-sm-12 text-md-start text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle news-dropdown-text font-size  p-0" type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          United States (USD $)
        </button>
        <ul class="dropdown-menu dropdown-menu-end font-size">
          <li><a class="dropdown-item" href="#">Italy (EUR €)</a></li>
          <li><a class="dropdown-item" href="#">Poland (PLN zł)</a></li>
          <li><a class="dropdown-item" href="#">United Kingdom (GBP £)</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
