.dropdown-toggle {
  background-color: transparent;
  border: none;
}

.dropdown-toggle:hover {
  background: none;
}

.dropdown-menu{
  --bs-dropdown-link-active-color: none;
  --bs-dropdown-link-active-bg: none;
  z-index: 15;
}

.font-size {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  font-size: 0.7rem;
  font-weight: 600 !important;
  color: #333333;
}

/*////////////*/

.bg--color--light {
  background: var(--color-bg-light);
}

.bg--color {
  background: var(--color-bg);
}

.bottom-border {
  border-bottom: 1px solid var(--color-bg);
  padding: 0;
}
