.navbar--z--index {
  z-index: 10;
}

.logo--handler {
  margin: 10px 0;
}

.logo--img {
  width: 150px;
}

.search--input {
  padding-left: 15px;
}

.search--btn {
  right: 25px;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}

.search--icon {
  width: 20px;
  height: 20px;
}

.font--size {
  margin-left: 15px;
  font-size: 0.9rem;
  color: #333333;
  font-weight: 600;
}

.link--icon {
  width: 22px;
  height: 22px;
}

@media only screen and (max-width: 576px) {
  .small--hide {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .btn--categories {
    display: none;
  }
}

.form-control::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.nav--icon {
  height: 30px;
  width: 30px;
}

.menu {
  border-radius: 12px;
  background: #f6f9ff;
}

.dropdown--area {
  padding: 5px 10px;
}

.dropdown-item {
  padding: 8px 15px;
  font-size: 15px;
}

.dropdown-item:hover {
  background: none;
  text-decoration-line: underline;
}

/*/////////////////*/


.bg--color--light {
  background: var(--color-bg-light);
}

.bg--color {
  background: var(--color-bg);
}

.bottom-border {
  border-bottom: 1px solid var(--color-bg);
  padding: 0;
}

.font3 {
  font-family: berniershade3, sans-serif;
  font-size: 40px !important;
  font-weight: normal;
  /*color: rgba(0, 0, 0, 0.42);*/
  color: #5c82ab;
}
