<div class="card-group justify-content-center">
  <div class="card popular">
    <a href="#" class="text-decoration-none" style="color: #333333">
      <div class="img--container col-4 col-md-12">
        <img src="./assets/img/popular/carcassonne_2022_00-1024x1024-wm.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card-body col-8 col-md-12" >
        <h5 class="card-title">Carcassonne</h5>
        <p class="card-text"><small class="text-body-secondary fw-lighter text-uppercase">A legend in a new form</small></p>

        <span class="original--price">
          <strong><span>$ 15 </span><sup>99</sup> </strong>
        </span>

      </div>
    </a>
  </div>

  <div class="card popular">
    <a href="#" class="text-decoration-none" style="color: #333333">
      <div class="img--container col-4 col-md-12">
        <img src="./assets/img/popular/Loonacy-1024x1024-wm.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card-body col-8 col-md-12">
        <h5 class="card-title">Loonacy</h5>

        <span class="original--price">
          <strong><span>$ 15 </span><sup>99</sup> </strong>
        </span>

      </div>
    </a>
  </div>

  <div class="card popular">
    <a href="#" class="text-decoration-none" style="color: #333333">
      <div class="img--container col-4 col-md-12">
        <img src="./assets/img/popular/JKI_UjasArkhama-1024x1024-wm.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card-body col-8 col-md-12">
        <h5 class="card-title">Arkham Horror. Card game</h5>
        <p class="card-text"><small class="text-body-secondary fw-lighter text-uppercase">Face your hidden fears!</small></p>

        <span class="original--price">
          <strong><span>$ 15 </span><sup>99</sup> </strong>
        </span>

      </div>
    </a>
  </div>

  <div class="card popular">
    <a href="#" class="text-decoration-none" style="color: #333333">
      <div class="img--container col-4 col-md-12">
        <img src="./assets/img/popular/moresol_00-1024x1024-wm.jfif" class="card-img-top" alt="...">
      </div>

      <div class="card-body col-8 col-md-12">
        <h5 class="card-title">Sea, salt, paper</h5>
        <p class="card-text"><small class="text-body-secondary fw-lighter text-uppercase">Boats, fish, sharks</small></p>

        <span class="original--price">
          <strong><span>$ 15 </span><sup>99</sup> </strong>
        </span>

      </div>
    </a>
  </div>

</div>
