.popular {
  border: none;
  box-shadow: 0 0 1px 0 #dfdfdf;
  transition: transform 0.3s ease;
}

.img--container {
  display: flex;
  height: 309px;
  justify-content: center;
  align-items: center;
}

.img--container img {
  width: 80%;
}

.original--price strong {
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .card-title {
    font-size: 1.15rem;
  }

  .card-text {
    font-size: 14px;
  }

  .img--container img {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .card-group {
    flex-direction: column;
  }

  .popular a {
    display: flex;
    align-items: center;
  }

  .img--container {
    height: 200px;
  }

  .card-group > .card {
    margin-bottom: 0;
  }

  .card-group > .card:not(:last-child) {
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group > .card:last-child{
    border-bottom-left-radius: 6px;
  }

  .card-group > .card:not(:first-child) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
