.news a {
  text-decoration: none;
  color: var(--color-text)
}

.news {
  background: white;
  box-shadow: 0 0 1px 0 #dfdfdf;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
}

.news__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link__icon {
  font-size: 22px;
}

.link__body {
  line-height: 1.65rem;
}

.link__title {
  font-weight: 600;
  color: #5a233b;
  text-decoration: underline;
}

a:hover .link__title {
  color: #ce5288;
}

a:hover .link__icon {
  transform: scale(1.03);
}

.link__date {
  line-height: 1rem;
  font-size: 12px;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .link__body {
    line-height: 1.35rem;
  }

  .link__body div:not(:last-child) {
    font-size: 14px;
  }

  .link__date {
    font-size: 11px;
  }
}
