<div class="news" #news>
  <a href="#" class="news__link link">
    <div class="link__body">
      <div class="link__title">
        Hearts are full of love
      </div>
      <div class="link__text">
        And board games - bonuses
      </div>
      <div class="link__date text-body-secondary fw-lighter">12 Feb 2024</div>
    </div>
  </a>

  <a href="#" class="news__link link">
    <div class="link__body">
      <div class="link__title">
        Don't forget to show your ticket!
      </div>
      <div>
        The train goes straight to Africa!
      </div>
      <div class="link__date text-body-secondary fw-lighter">09 Feb 2024</div>
    </div>
  </a>

  <a href="#" class="news__link link">
    <div class="link__body">
      <div class="link__title">
        Based on your favorite anime
      </div>
      <div>
        An immense ocean of emotions
      </div>
      <div class="link__date text-body-secondary fw-lighter">09 Feb 2024</div>
    </div>
  </a>

  <a href="#" class="news__link link">
    <div class="link__body">
      <div class="link__title">
        Board games as a gift for men
      </div>
      <div>
        A serious hobby for serious people!
      </div>
      <div class="link__date text-body-secondary fw-lighter">09 Feb 2024</div>
    </div>
  </a>

  <a href="#" class="news__link link">
    <div class="link__body">
      <div class="link__title">
        Destinies board game
      </div>
      <div>
        Preparing for publication in Russian in Hobby World
      </div>
      <div class="link__date text-body-secondary fw-lighter">08 Feb 2024</div>
    </div>
<!--    <i class="bi bi-arrow-right link__icon"></i>-->
  </a>
</div>
