<div class="brands__container">
  <a href="#" class="brand">
    <img src="./assets/img/brands/172-80x80.jpg" class="brand__img card-img-top" alt="">
  </a>
  <a href="#" class="brand">
    <img src="./assets/img/brands/png-transparent-logo-marvel-comics-marvel-entertainment-marvel-studios-others-comics-avengers-text-80x80.png" class="brand__img card-img-top" alt="">
  </a>
  <a href="#" class="brand">
    <img src="./assets/img/brands/UNO_Logo-80x80.jpg" class="brand__img card-img-top" alt="">
  </a>
  <a href="#" class="brand">
    <img src="./assets/img/brands/wow_logo-80x80-80x80.jpg" class="brand__img card-img-top" alt="">
  </a>
  <a href="#" class="brand">
    <img src="./assets/img/brands/DC_Comics_logo-80x80-80x80.jpg" class="brand__img card-img-top" alt="">
  </a>
  <a href="#" class="brand">
    <img src="./assets/img/brands/kisspng-fallout-3-logo-rpg-fallout-4-repair-the-world-beac-fallout-logo-bing-images-5ba409035c5d60.4923357515374768673783-80x80.jpg" class="brand__img card-img-top" alt="">
  </a>
</div>
